.slider-container {
  position: relative;
  width: 100%;
}

.slider {
  appearance: none;
  width: 100%;
  height: 20px;
  background: transparent;
  border: 1px solid black;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 50%;
  cursor: pointer;
}