/* src/components/ColorInput/CustomSlider/CustomSlider.css */
.slider-container {
  position: relative;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  background: transparent;
  border: 1px solid black;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}

.slider::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 3px;
  background: transparent;
}

.slider:focus {
  outline: none;
}