/* src/styles/App.css */

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&display=swap");

/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  font-family: "Pontano Sans", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.6;
  font-size: 1rem;
}
